layout { 
        
        pane size=1 borderless=true {
            plugin location="file:/home/kriyos/.config/zellij/plugins/zellij-datetime.wasm"{

                timezone1 "EST/-5"
                background_color "#0080a0"
                foreground_color "#ffffff"
                pane_color "#1e1e1e"
                enable_right_click false
                arrow_separator1 ""
                arrow_separator2 ""
                arrow_separator3 ""
                padding_adjust 0
                text_align "right"
            }
        }

        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane_template name="ip" {
            command "bash"
            args "-c" "/home/kriyos/tools/./env.sh"
        }
        pane_template name="nmap" {
            command "bash"
            args "-c" "~/scripts/nmap"
            start_suspended true
        }
        pane_template name="ferox" {
            command "bash"
            args "-c" "~/scripts/ferox"
            start_suspended true
        }
        pane_template name="nikto" {
            command "bash"
            args "-c" "~/scripts/nikto"
            start_suspended true
        }
        pane_template name="vertical-sandwich" split_direction="vertical" {
            nmap
            ferox
            nikto
        }
        vertical-sandwich



        ip




        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
}
